/*Kameron Wagner CIS184 Final Project*/
html {
    background-image: url("../images/rpg.jpg");
    background-attachment: fixed;
}
header {
    width: 1000px;
    background-color: lightgray;
}
header img {
    width: 1000px;
    height: 250px;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto; 
    background-color: #1e404e;
    color: white;
    border: 2px solid white;
    box-shadow: 0 9px 18px 9px;
}
/*Nav Menu*/
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 180px; 
    border: 2px solid white;    
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li a.current {
     color: yellow;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #808080;
}
/*Main*/
main section h1 {
    text-align: center;
    margin-top: 2.5em;
}
/*Aside1*/
#aside1 {
    width: 200px;
    float: left;
}
#aside1 img {
    margin-bottom: .5em;
}
#aside1 ul {
    list-style-type: none;
}
/*Aside2*/
#aside2 {
    float: left;
    width: 600px;
    margin-left: 1em;
    padding-bottom: 2em;
}
th, td {
    padding: .5em 2.5em .5em .3em;
    text-align: center;
}
.left {
    text-align: left;
}
.border {
    border-bottom: 2px solid white;
}
#aside2 img {
    margin-top: 2em;
}
/*Footer*/
footer {
    width: 1000px;
    background-color: #808080; 
	clear: both;
	border-top: 2px solid white;
    text-align: center;
    padding-bottom: .5em;
}