/*Background*/
html {
    background-image: url("fireice.jpg");
    background-attachment: fixed;
}
/*Footer*/
footer {
    width: 100%;
    background-color: #808080; 
	clear: both;
	border-top: 2px solid white;
    text-align: center;
    padding-bottom: .5em;
    margin-top:5em;
}
/*Body*/
body{
    width: 60%;
    height: 100%;
    margin: 0 auto; 
    border: 5px solid #808080;
    box-shadow: 0 9px 18px 9px;
}
/*Header*/
header {
    width: 100%;
    height:30%;
    background-color: lightgray;
    border-bottom: 2px solid #808080;
}
/*Header img*/
header img {
    position:center;
    width: 100%;
    height: 20em;
}
/*Controls*/
#controls{
    position:relative;
    margin-top: -50%;
    background-color:#808080;
    border: 2px solid #150f8b;
    margin-left:80%;
    padding-top:1em;
    padding-bottom:1em;
}
/*H1*/
h1{
    text-align:center;
    color: #ffffff;
}
#myfilter{

}